

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@model Regasirea_Informatiei_Lab.ViewModels.EditPersonalDataViewModel
@{
    var user = await userManager.GetUserAsync(signInManager.Context.User);
    var photoPath = "/images/" + (user.ProfilePicture ?? "profile.png");
}
<html>
    <head>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/af-2.3.7/b-2.2.2/r-2.2.9/sl-1.3.4/datatables.min.css" />



<!------ Include the above in your HEAD tag ---------->
</head>
<body style="background-color: #eee;">

    <section style="background-color: #eee;">
  <div class="container py-5 " style="margin-top:100px;">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="@photoPath" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">@user.LastName @user.FirstName</h5>
            <p class="text-muted mb-1">@Model.Address</p>
            <div class="d-flex justify-content-center mb-2 mr-2">
              <button type="button mr-3"  class="btn btn-info"><a asp-action="EditPersonalData" asp-controller="profile" asp-route-id="@Model.Id" style="color:white;">Edit</a></button>
              <button type="button" asp-action="Logout" asp-controller="Account" asp-route-id="@Model.Id" class="btn btn-danger ms-1">Logout</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fa fa-book fa-lg text-info"></i>
                <a class="mb-0" style="color:black;" asp-controller="order" asp-action="listorder">Comenzile mele</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nume</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@user.LastName</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Prenume</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@user.FirstName</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Email</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nr. telefon</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.PhoneNumber</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Oras</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Country</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Adresa</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Address</p>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
</section>

</body>
</html>