@model IEnumerable<OrderDetail>

@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="height:200px;">

</div>
<table  id="myTable" class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nume</th>
            <th scope="col">Prenume</th>
            <th scope="col">Adresa</th>
            <th scope="col">Oras</th>
            <th scope="col">Nr telefon</th>
            <th scope="col">Suma</th>
            <th scope="col">Cantitate</th>
            <th scope="col">Id Produs</th>
            <th scope="col">Nume Produs</th>


        </tr>
    </thead>
    @foreach (var product in Model)
    {
        <tbody>
            <tr style="background-color: white;" >
                <td style="background-color: #007bff;">@product.OrderId</td>
                <td style="background-color: #007bff;">@product.Order.FirstName</td>
                <td style="background-color: #007bff;">@product.Order.LastName</td>
                <td style="background-color: #007bff;">@product.Order.Address</td>
                <td style="background-color: #007bff;">@product.Order.City</td>
                <td style="background-color: #007bff;">@product.Order.PhoneNumber</td>
                <td style="background-color: #007bff;">@product.Order.OrderTotal</td>
                <td style="background-color: #007bff;">@product.Amount</td>
                <td style="background-color: #007bff;">@product.ProductId</td>
                <td style="background-color: #007bff;">@product.Nume_Produs</td>

            </tr>
        </tbody>
    }
